.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 99999;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
  overflow: hidden;
}

.counter-container {
  overflow: hidden;
}

.counter {
  font-family: var(--font-heading);
  font-size: 10rem;
  font-weight: 900;
  color: #fff;
  display: block;
}

.curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: -1;
}

@media (max-width: 768px) {
  .counter {
    font-size: 5rem;
  }
}
